includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - app/
        - bootstrap/
        - config/
        - routes/
    ignoreErrors:
        - '#Constant ELEMENTOR_VERSION not found.#'
        - '#Instantiated class Skeleton\\Elementor\\.* not found.#'
